li a {
	color: black;
	margin: 10px;
}
li a:hover {
	color: black;
}
ul {
  position: relative;
  display: flex;
  padding-top: 60px;
  flex: right;
}
header {
	padding-bottom: 40px;
}
.header {
	height: 140px;
	background-color: white;
	width:100%;
	position:fixed;
	top:0;
	z-index:1000;
}